<div class="about">
  <h1>About Jordan</h1>
  <img src ="http://www.gravatar.com/avatar/1108a4c3e84ba0411372ebd52b6a97be?s=400"width="400" height="400">

  <p>My name is Jordan, I'm a student at Dev Point Labs in Salt Lake City, Utah where I was and raised. I have experience in Bootstrap and am currently learning Ruby. </p>
  <p></p>
  <p> In my freetime I enjoy watching anime, playing tennis, and learning new programming languages.</p>
  <p> I'm also a casual gamer, some of my favorite games are Starcraft II, League of Legends, and Heroes of the Storm</p>
</div>

